.homeContainer {
   height: 80vh;
   width: 100vw;
   margin-top: 100px;
}


.txtContainer {
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}

.imgContainer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:0;
    text-align: center;
}

.image {
    max-width: 100%;
}

.row {
    margin-left: 0 !important;
    overflow-x:hidden;
    /* width: 100vw;
    height: 100vh; */
    /* justify-content: center; */
    justify-content: flex-start;
    background-color: black;
}

.title{
    font-size:xxx-large;
}

