.homeContainer {
   height: 80vh;
   width: 100vw;
   margin-top: 150px;
}


.txtContainer {
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align:center;
}

.imgContainer {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:0;
    text-align: center;
}

.image {
    max-width: 80%;
}

.row {
    margin-left: 0 !important;
    overflow-x:hidden;
    /* width: 100vw;
    height: 100vh; */
    /* justify-content: center; */
    justify-content: flex-start;
    background-color: black;
}

.title{
    font-size:xx-large;
}

@media screen and (max-width:1200px) {

    .homeContainer {
        height: 75vh;
        margin-top: 100px;
    }

}

@media screen and (max-width:1197px) {

    .homeContainer {
        height: 70vh;
        margin-top: 100px;
    }

}

@media screen and (max-width:991px) {

    .homeContainer {
        height: 60vh;
    }

}

@media screen and (width:912px) {

    .homeContainer {
        height: 35vh;
    }

}

@media screen and (max-width:768px) {

    .homeContainer {
        height: 45vh;
    }

}


@media screen and (max-width:767px) {

    .homeContainer {
        height: 85vh;
    }

}

@media screen and (max-width:540px) {

    .homeContainer {
        height: 90vh;
    }

}

@media screen and (max-width:414px) {

    .homeContainer {
        height: 80vh;
    }

}

@media screen and (max-width:375px) {

    .homeContainer {
        height: 90vh;
    }

}