.title {
    text-align: center;
}

.body {
    background-color: rgb(33, 37, 41);
    padding: 50px;
    margin: 0;
    padding-bottom: 100px;
}

.formContainer{
    background-image: url(../../images/home-bg.jpg);
    /* background-color: black; */
    text-align: center;
    padding: 80px;
    border-radius: 15px;
}

.labels{
    font-size: large;
}


@media screen and (width:770px) {

    .formContainer {
        width: 100%;
    }

    .body {
        padding: 0;
    }

}
